<!DOCTYPE html>
<html lang="en">

<head>
  <title>hex programming language - {{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
  <meta name="author" content="Fabio Cevasco">
  <meta name="description" content="A tiny, minimalist, concatenative, stack-based and slightly-esoteric programming language
  that can run on many platforms.">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
  <header>
    <pre>
  _*_ _
 / \<h1><a href="/">hex</a></h1>\* programming language
*\_/_/_/
     *
    </pre>
  </header>
  <nav>
    <a href="/get">Get</a> |
    <a href="/learn">Learn</a> |
    <a href="/play">Play</a> |
    <a href="/changelog">Changelog</a> |
    <a href="/spec">Spec</a> |
    <a href="/about">About</a>
  </nav>
  {{content}}
  <footer>
    &copy; 2024 Fabio Cevasco
  </footer>
</body>

</html>
