<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
    <title>hex programming language</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>

  <body>
    <header>
    <pre>
       _*_ _
      / \<h1><a href="/">hex</a></h1>\* programming language
     *\_/_/_/
          *
    </pre>
    </header>
    <nav>
    <a href="/get-started">Get Started</a> |
    <a href="/manual">Manual</a> |
    <a href="/play">Play</a> |
    <a href="/changelog">Changelog</a> |
    <a href="/about">About</a>
    </nav>
    {{content}}
    <footer>
    &copy; 2024 Fabio Cevasco
    </footer>
  </body>

</html>
