html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}

body {
    margin: 1rem;
    padding: 0;
    font-family: Monospace;
    font-size: 1rem;
    background-color: black;
    color: white;
}

h1,
h2,
h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
}

header {
    font-size: 120%;
    margin: 0;
}

header h1 {
    display: inline;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
}

footer {
    font-size: 80%;
    text-align: center;
    margin: auto;
}

a {
    color: lime;
    text-decoration: underline;
}

a:visited {
    color: limegreen;
}

a[href^=http] {
    text-decoration-style: dashed;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

li {
    margin: 0.5rem 0;
}

.prompt-wrapper {
  whitespace: nowrap;
  color: lime;
}


article section {
    display: flex;
    flex-direction: column;
}

article section section {
    height: 40vh;
    white-space: pre-wrap;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-color: black black;
    scrollbar-width: thin;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid lime;
}

aside {
    display: flex;
    margin: 0 1rem;
}

article input {
    font-family: monospace;
    background-color: black;
    color: white;
    border: 1px solid lime;
    display: flex;
    flex-grow: 1;
}
