html {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
}

body {
    margin: 1rem;
    padding: 0;
    font-family: Monospace;
    font-size: 1rem;
    background-color: black;
    color: white;
}

h1,
h2,
h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 700;
    color: gold;
}

h3 {
    font-size: 1rem;
}

header {
    font-size: 120%;
    margin: 0;
}

header h1 {
    display: inline;
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

header h1 a {
    text-decoration: none;
}

footer {
    font-size: 80%;
    text-align: center;
    margin: auto;
}

a {
    color: lime;
    text-decoration: underline;
}

a:visited {
    color: limegreen;
}

a[href^=http] {
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

li {
    margin: 0.5rem 0;
}

.prompt-wrapper {
    white-space: nowrap;
    color: lime;
}

article>section {
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
}

article>section>section {
    height: 30vh;
    white-space: pre-wrap;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-color: black black;
    scrollbar-width: thin;
    padding: 0.5rem;
}

aside {
    display: flex;
    margin: 0 0.5rem;
}

article input {
    font-family: monospace;
    background-color: black;
    border: none;
    color: white;
    display: flex;
    flex-grow: 1;
}

article input:focus {
    outline: none;
}

pre {
    margin: 1rem;
    white-space: pre-wrap;
}

code {
    color: gold;
}

blockquote {
    border: 1px solid lime;
    padding: 0 1rem 0 1rem;
    margin: 0;
}

blockquote div {
    font-weight: 600;
    color: gold;
}
