html {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
}

body {
    margin: 1rem;
    line-height: 1.2rem;
    padding: 0;
    font-family: Monospace;
    font-size: 1rem;
    background-color: black;
    color: lightgray;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    color: white;
}

h2 {
    margin: 2rem 0 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

h3 {
    margin: 1.8rem 0 0;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

h4 {
    margin: 1.6rem 0 0;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

h5 {
    margin: 1.4rem 0 0;
    font-size: 1rem;
    line-height: 1.2rem;
}

h5 code {
    color: white;
}

h5::before {
    content: "→ ";
}

header {
    color: white;
    font-size: 120%;
    margin: 0;
}

header h1 {
    display: inline;
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

header h1 a {
    text-decoration: none;
}

footer {
    font-size: 80%;
    text-align: center;
    margin: auto;
}

a {
    color: lime;
    text-decoration: underline;
}

a:visited {
    color: limegreen;
}

a[href^=http] {
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

li {
    margin: 0.5rem 0;
}

article>section {
    display: flex;
    flex-direction: column;
    border: 1px solid gold;
}

article>section>section {
    height: 30vh;
    white-space: pre-wrap;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-color: black black;
    scrollbar-width: thin;
    padding: 0.5rem;
}

aside {
    display: flex;
    margin: 0 0.5rem;
}

aside span {
    display: flex;
    align-items: center;
}

article input {
    font-family: monospace;
    font-size: 1rem;
    background-color: black;
    border: none;
    color: white;
    display: flex;
    flex-grow: 1;
}

article input:focus {
    outline: none;
}

pre {
    margin: 1rem;
    white-space: pre-wrap;
}

code {
    color: gold;
}

blockquote {
    margin: 1rem;
    border: 1px solid gold;
    padding: 0 1rem 0 1rem;
}

blockquote div {
    margin-top: 1rem;
    font-weight: 600;
    color: gold;
}

mark {
    background-color: transparent;
    color: white;
    padding: 0.25rem 0.5rem;
    border: 1px dotted gray;
}

span.hex-comment {
    color: gray;
}

span.hex-string {
    color: orange;
}

span.hex-integer {
    color: lightgreen;
}

span.hex-symbol {
    color: lightblue
}

article nav {
    font-size: 90%;
}

a[href^="#top"]::before {
    content: "↑ ";
}

a[href^="#top"] {
    font-size: 80%;
    text-decoration: none;
    vertical-align: super;
}
